<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title  - Checkups CX Dashboard</title>
    @*Styles.Render("~/Content/css")*@

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @*<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />*@
    <link href="~/Scripts/bower_components/jquery-ui/themes/black-tie/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/adminlte/css/style.css">
    <link rel="stylesheet" href="~/Scripts/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Scripts/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Scripts/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Scripts/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link href="../Content/adminlte/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link href="~/Content/datatables/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/adminlte/css/AdminLTE.min.css">
    <link href="../Content/style.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/adminlte/css/skins/_all-skins.min.css">
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>

<body class="hold-transition skin-green sidebar-mini">

    <div class="wrapper">

        @Html.Partial("_Header")

        @Html.Partial("_Sidebar")

        @RenderBody()

        @Html.Partial("_Footer")

        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>*@
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>*@
    <script language="javascript" type="text/javascript">
        window.onbeforeunload = function () {
        }
    </script>

</body>
</html>
